In [1]:
import pandas as pd

Exploring "user_segment_slice.csv" file

In [3]:
user_segment_slice = pd.read_csv("Encrypted Datasets/user_segment_slice.csv")
user_segment_slice.head()

         date  original_client_user_id  user_segment_in_reception_id  user_id
0  2025-01-15               6516313036                             3  5628512
1  2025-01-01               9150752151                             2  2414124
2  2025-01-01               8147693188                             2  2377888
3  2025-01-15               5704612099                             3  2925605
4  2025-01-15               1284838824                             2  7852567

In [6]:
user_segment_slice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8122657 entries, 0 to 8122656
Data columns (total 4 columns):
 #   Column                        Dtype
---  ------                        -----
 0   date                          object
 1   original_client_user_id       int64
 2   user_segment_in_reception_id  int64
 3   user_id                       int64
dtypes: int64(3), object(1)
memory usage: 247.9+ MB

In [8]:
user_segment_slice.isnull().sum()

date                            0
original_client_user_id         0
user_segment_in_reception_id    0
user_id                         0
dtype: int64

In [12]:
print("Unique number of user_id for 'user_segment_slice' - ", user_segment_slice['user_id'].nunique())

print("Unique number of original_client_user_id for 'user_segment_slice' - ", user_segment_slice["original_client_user_id"].nunique())

Unique number of user_id for 'user_segment_slice' -  516128
Unique number of original_client_user_id for 'user_segment_slice' -  261541

In [14]:
user_segment_slice['user_segment_in_reception_id'].unique()

array([ 3,  2,  9,  7,  8,  5,  4,  6, 10,  1, 12, 11])

Exploring "users_events_slice_1.csv" file

In [15]:
user_events_1 = pd.read_csv("Encrypted Datasets/users_events_slice_1.csv")
user_events_1.head()

          id  user_id                      name                 date_mod
0  778739486  9821728    Change in management    2025-01-01 00:00:07.008
1  778739492  5970559   Trade result successful  2025-01-01 00:00:08.018
2  778739497  1162986   Trade result successful  2025-01-01 00:00:08.396
3  778739498  8835246            User logged in  2025-01-01 00:00:09.433
4  778739499  8835246  Authentication completed  2025-01-01 00:00:09.440

In [16]:
user_events_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9626742 entries, 0 to 9626741
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   id        int64
 1   user_id   int64
 2   name      object
 3   date_mod  object
dtypes: int64(2), object(2)
memory usage: 293.8+ MB

In [17]:
print("Unique number of user_id for 'user_events_1' - ", user_events_1['user_id'].nunique())
print("Unique number of name for 'user_events_1' - ", user_events_1["name"].nunique())
print("Unique number of id for 'user_events_1' - ", user_events_1["id"].nunique())

# no need to use "id"

Unique number of user_id for 'user_events_1' -  1138243
Unique number of name for 'user_events_1' -  90
Unique number of id for 'user_events_1' -  9626742

In [18]:
user_events_1['name'].unique()

array(['Change in management  ', 'Trade result successful',
       'User logged in', 'Authentication completed',
       'Select Other Account for Deposit Top-Up  ',
       'Unable to create account', 'Security-related session initiated',
       'Trade order placed', 'Account successfully created for user',
       'Account setup completed successfully',
       'Initiated account registration', 'Demo login successful',
       'Remove trading order', 'User profile status changed',
       'Account set up through a mobile device',
       'User session established', 'Password recovery completed',
       'Login restored', 'Transfer Money to Deposit  ',
       'Bank used to top up account', 'Deposit voucher ready for use',
       'Withdrawal Successful  ', 'IPO participation option selected',
       'Long-term placement successful  ', 'Card used to top up account',
       'Deposit Top-Up via Card Successful  ',
       'Select Withdrawal Method  ', 'Message cabinet accessed  ',
       'Deposit Top-Up via Card Failed  ',
       'Chosen a pricing plan for the accoun',
       'Account opened successfully', 'Switched to live environment',
       'UTM parameters updated', 'Referred account inactive for 30 days',
       'Total assets minus liabilities',
       'Currency trading accounts for assets',
       'Net assets and designated accounts',
       'Long-term placement 4 days prior to completion  ',
       'Withdraw from Deposit  ',
       'Mobile number was linked to the account ',
       'Mobile number verification completed ',
       'Initiate Deposit Top-Up  ', 'Cancel long-term placement  ',
       'Account documents submitted', 'Select Card for Deposit Top-Up  ',
       'Select Bank for Deposit Top-Up  ', 'End account',
       'New account created via referral',
       'Complete long-term placement  ',
       'Account registered under a personal name',
       'Account-related SMS sent again', 'Pricing plan modified',
       'Referral enrollment finalized', 'Fourth stage finalized',
       'Personal data submitted', 'UTM marketing settings changed',
       'Trading activity over 30 days', 'Trading activity over 60 days',
       'Login details changed',
       'Task handler reassigned due to manager change',
       'Fifth stage finalized', 'Account contract signed',
       'Phone number displayed', 'Push notification tokens refreshed',
       'Trade IPO stock', 'Session activity over 30 days',
       'Logged as admin ', 'Email verification', 'User role updated',
       'Subordination entry deleted', 'User profile verified',
       'Subordination entry removed', 'Subordination connection removed',
       'Subordination status applied', 'Order price limits defined',
       'Trade instruction removed', 'Security discount updated',
       'Location verification', 'User opted in',
       'Account created for a business or organization',
       'Errors in account documents', 'Run ibo_update_company',
       'Identity confirmed via WorldCheck', 'Reception service updated',
       'Subordination entry substituted', 'apply_instrument_limit',
       'User credentials or status updated', 'File removal',
       'Dormant Account Status Updated  ',
       'Fourth referral account registered'], dtype=object)

Exploring "body_users.csv"

In [19]:
body_users_encrypted = pd.read_csv("Encrypted Datasets/body_users.csv")
body_users_encrypted.head()

,id,original_client_user_id,sex_type,age_segment,Канал привлечения,acquisition_channel_lvl_2,acquisition_channel_lvl_3
0,5981029,7788617545,М,55 лет +,Рефералка Sales,Рефералка Sales,Рефералка Sales
1,9084314,8592491475,М,35-44 лет,Банк,Банк,Банк
2,1461670,6606290372,Ж,35-44 лет,Рефералка Sales,Рефералка Sales,Рефералка Sales
3,5891305,7169207061,Ж,55 лет +,Маркетинг KZ,Реферальные,Реферрер не определен
4,7353391,2506521164,М,45-54 лет,Белиз,Белиз,Белиз

In [20]:
body_users_encrypted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612602 entries, 0 to 612601
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         612602 non-null  int64
 1   original_client_user_id    612602 non-null  int64
 2   sex_type                   612602 non-null  object
 3   age_segment                612602 non-null  object
 4   Канал привлечения          612602 non-null  object
 5   acquisition_channel_lvl_2  612602 non-null  object
 6   acquisition_channel_lvl_3  612602 non-null  object
dtypes: int64(2), object(5)
memory usage: 32.7+ MB

In [21]:
print("Unique number of original_client_user_id for 'body_users_encrypted' - ", body_users_encrypted['original_client_user_id'].nunique())
print("Unique number of sex_type for 'body_users_encrypted' - ", body_users_encrypted['sex_type'].nunique())
print("Unique number of age_segment for 'body_users_encrypted' - ", body_users_encrypted['age_segment'].nunique())
print("Unique number of Канал привлечения for 'body_users_encrypted' - ", body_users_encrypted['Канал привлечения'].nunique())

Unique number of original_client_user_id for 'body_users_encrypted' -  299866
Unique number of sex_type for 'body_users_encrypted' -  3
Unique number of age_segment for 'body_users_encrypted' -  7
Unique number of Канал привлечения for 'body_users_encrypted' -  5

In [22]:
body_users_encrypted['sex_type'].unique()

array(['М', 'Ж', 'Не указано клиентом'], dtype=object)

In [23]:
body_users_encrypted['age_segment'].unique()

array(['55 лет +', '35-44 лет', '45-54 лет', '25-34 лет', '18-24 лет',
       '<18 лет', 'Не указано клиентом'], dtype=object)

In [24]:
body_users_encrypted['Канал привлечения'].unique()

array(['Рефералка Sales', 'Банк', 'Маркетинг KZ', 'Белиз', 'Органика'],
      dtype=object)

Idea: Filter user_events_slice_1 - user_events_slice_6 by deleting "user_id's" that are not present in "user_segment_slice"

In [25]:
# Before filtering - check the original size
print(f"Original user_events_1 shape: {user_events_1.shape}")

# Filter the dataframe
user_events_1 = user_events_1[user_events_1['user_id'].isin(user_segment_slice['user_id'])]

# After filtering - verify the result
print(f"Filtered user_events_1 shape: {user_events_1.shape}")

Original user_events_1 shape: (9626742, 4)
Filtered user_events_1 shape: (6243659, 4)

In [26]:
user_events_1['user_id'].nunique()

346899

Do the same with other "users_events_slice" files and combine them together

In [27]:
# Filtering the second user events slice

user_events_2 = pd.read_csv("Encrypted Datasets/users_events_slice_2.csv")
print(f"Original user_events_2 shape: {user_events_2.shape}")
user_events_2 = user_events_2[user_events_2['user_id'].isin(user_segment_slice['user_id'])]
print(f"Filtered user_events_2 shape: {user_events_2.shape}")
print("Unique number of user_id for 'user_events_2' - ", user_events_2['user_id'].nunique())

Original user_events_2 shape: (7927996, 4)
Filtered user_events_2 shape: (5699896, 4)
Unique number of user_id for 'user_events_2' -  158351

In [28]:
# Filtering the third user events slice

user_events_3 = pd.read_csv("Encrypted Datasets/users_events_slice_3.csv")
print(f"Original user_events_3 shape: {user_events_3.shape}")
user_events_3 = user_events_3[user_events_3['user_id'].isin(user_segment_slice['user_id'])]
print(f"Filtered user_events_3 shape: {user_events_3.shape}")
print("Unique number of user_id for 'user_events_3' - ", user_events_3['user_id'].nunique())

Original user_events_3 shape: (6960203, 4)
Filtered user_events_3 shape: (4569257, 4)
Unique number of user_id for 'user_events_3' -  157813

In [29]:
# Filtering the fourth user events slice

user_events_4 = pd.read_csv("Encrypted Datasets/users_events_slice_4.csv")
print(f"Original user_events_4 shape: {user_events_4.shape}")
user_events_4 = user_events_4[user_events_4['user_id'].isin(user_segment_slice['user_id'])]
print(f"Filtered user_events_4 shape: {user_events_4.shape}")
print("Unique number of user_id for 'user_events_4' - ", user_events_4['user_id'].nunique())

Original user_events_4 shape: (5834959, 4)
Filtered user_events_4 shape: (3815098, 4)
Unique number of user_id for 'user_events_4' -  159777

In [30]:
# Filtering the fifth user events slice

user_events_5 = pd.read_csv("Encrypted Datasets/users_events_slice_5.csv")
print(f"Original user_events_5 shape: {user_events_5.shape}")
user_events_5 = user_events_5[user_events_5['user_id'].isin(user_segment_slice['user_id'])]
print(f"Filtered user_events_5 shape: {user_events_5.shape}")
print("Unique number of user_id for 'user_events_5' - ", user_events_5['user_id'].nunique())

Original user_events_5 shape: (6080501, 4)
Filtered user_events_5 shape: (4028697, 4)
Unique number of user_id for 'user_events_5' -  151882

In [32]:
# Filtering the sixth user events slice

user_events_6 = pd.read_csv("Encrypted Datasets/users_events_slice_6.csv")
print(f"Original user_events_6 shape: {user_events_6.shape}")
user_events_6 = user_events_6[user_events_6['user_id'].isin(user_segment_slice['user_id'])]
print(f"Filtered user_events_6 shape: {user_events_6.shape}")
print("Unique number of user_id for 'user_events_6' - ", user_events_6['user_id'].nunique())

Original user_events_6 shape: (4882177, 4)
Filtered user_events_6 shape: (3386212, 4)
Unique number of user_id for 'user_events_6' -  145466

In [33]:
# Concatenating all filtered user events slices

user_events = pd.concat([user_events_1, user_events_2, user_events_3, user_events_4, user_events_5, user_events_6], ignore_index=True)
print(f"Concatenated user_events shape: {user_events.shape}")
print("Unique number of user_id for concatenated 'user_events' - ", user_events['user_id'].nunique())

Concatenated user_events shape: (27742819, 4)
Unique number of user_id for concatenated 'user_events' -  419215

In [34]:
user_events.head()

          id  user_id                      name                 date_mod
0  778739492  5970559   Trade result successful  2025-01-01 00:00:08.018
1  778739498  8835246            User logged in  2025-01-01 00:00:09.433
2  778739499  8835246  Authentication completed  2025-01-01 00:00:09.440
3  778739501  8835246            User logged in  2025-01-01 00:00:10.109
4  778739502  8835246  Authentication completed  2025-01-01 00:00:10.114

In [35]:
user_events['id'].nunique()

27742819

In [37]:
# saving the filtered and concatenated user events to a new CSV file

user_events.to_csv("Encrypted Datasets/filtered_user_events.csv", index=False)